@import "colors";

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 135, 166);
  display: flex;
  justify-content: center;
  align-items: center;

  > main {
    background-color: $first;
    height: 36rem;
    width: 80%;
    padding: 3rem;
    border-radius: 0 120px 200px 0;

    > form {
      margin: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > div {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 0.5rem;

        >label {
          font: 400 1.2rem $text1;
          width: 150%;
        }
        > input {
          align-self: stretch;
          width: 30%;
          padding: .5rem;
          border-radius: 5px;
          border: 2px solid rgba(44, 27, 48, 0.6);
          outline: none;
        }
        >textarea {
          align-self: stretch;
          width: 30%;
          height: 80px;
          padding: .5rem;
          border-radius: 5px;
          border: 2px solid rgba(61, 49, 76, 0.6);
          outline: none;
        }
      }

      > button {
        margin: 3rem 0;
        padding: 0.7rem;
        border: none;
        border-radius: 5px;
        background-color: rgb(43, 43, 98);
        color: $first;
        width: 200px;
        font: 500 1rem $text1;
        cursor: pointer;
      }
    }
  }
}
